.divlistrooms {
    float: left;
    width: 100%;
}

.titlemeetingtype {
    text-align: center;
    color: #007c57;
    font-family: arial;
    font-size: 22px;
    width: 100%;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    word-spacing: -1px;
    letter-spacing: -1px;
}

.roomElementOffline {
    background: url(../../images/user/home/roomofflineIcon.png) no-repeat left #FFF;
    background-repeat: no-repeat;
    background-position: left 15px center;
}

.roomElement {
    overflow: hidden;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    min-height: 63px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 23%;
    float: left;
    margin-right: 18px;
    margin-top: 17px;
    display: block;
}

.new_room_left {
    float: left;
    width: 48px;
    height: 14px;
    line-height: 16px;
    background-color: #df0a00;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #ffffff;
    margin-left: -12px;
    margin-top: 5px;
    margin-bottom: -19px;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.roomElement a span.editbutton {
    background: url(../../images/user/home/editbutton.png) no-repeat scroll right top transparent;
    cursor: pointer;
    float: right;
    height: 10px;
    margin: 5px 9px 0 0;
    width: 10px;
}

.roomElement a span.deletebutton {
    background: url(../../images/user/home/deletebutton.png) no-repeat scroll right top transparent;
    cursor: pointer;
    float: right;
    height: 11px;
    margin: 5px 9px 0 0;
    width: 11px;
}

.roomElementOffline a span {
    color: #858585;
    clear: left;
}
.roomElement a span {
    font-family: arial;
}
.roomElement span {
    margin-left: 60px;
    float: left;
}

.showroomname {
    padding-top: 5px;
    margin-top: 7px;
    font-size: 16px;
    letter-spacing: -1px;
    word-spacing: -1px;
    font-weight: bold;
}

.showstatusRoom {
    width: 100%;
    font-family: tahoma!important;
    font-size: 11px!important;
    color: #858585!important;
    font-weight: normal;
    margin-left: 35px;
    float: left;
    letter-spacing: 0px;
}

#fixroom {
    margin-top: 20px;
}

.tooltopinfo {
    height: 100%;
    display: block;
    width: 88%;
}
